/* main color for words: #909192 */
#container {
  width: 100%;
}

#header {
  margin: 0;
  padding: 0;
}

.wrap { 
  width: 600px;
  margin:  0 auto;
}

#title-area {
  margin: 0;
  padding: 0;
  width: 100%;
}
#title {
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
}

#title-name {
  display: block;
  margin: 25px auto 25px auto;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 2px;
  text-decoration: none;
  color: #111;
}
.clear {
  clear: both;
  height: 0;
  margin: 0;
  padding: 0;
  visibility: hidden;
  vertical-align: baseline;
}

#nav {

}
#nav .menu {
  border: 1px solid #d1d1d1;
  border-left: none;
  border-right: none;
  clear: both;
  text-align: center;
}

.menu li {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.menu a {
  color: #909192;
  font-size: 12px;
  text-decoration: none;
  margin: 0 25px 0 25px;
  padding: 15px 0 15px 0;
  display: block;
  line-height: 1em;
  text-transform: uppercase;
}

/*BODY*/
#inner {
  width: 600px;
  clear: both;
  overflow: visible;
  margin: 0 auto;
}

#content-sidebar-wrap {
  width: 100%;
}

#content {
  margin: 0 auto;
  
}

#feature-area {
  height: 220px;
  vertical-align: baseline;
}

#feature-area img {
  max-width: 200px;
  max-height: 200px;
  float: left;
  border-right: 1px solid #d1d1d1;
  margin-right: 20px;
  padding-right: 20px;
}
.mobile-only {
  display: none;
}
#info {
  margin: 0;
  padding: 0;
}
.feature-bottom {
  border: 1px solid #d1d1d1;
  border-left: none;
  border-right: none;
  margin-bottom: 40px;
  padding: 0;
  vertical-align: baseline;
}

.feature-bottom input {
  border: none;
  float: left;
  padding: 8px 10px 7px 0;
  text-align: center;
  font-size: 13px;
  text-decoration: none;
  width: 150px;
}
input.default-text {
cursor: text;
text-shadow: none;
border:none;
outline: none;
}
input#button {
  background-color: #000;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  padding: auto 7px;
  vertical-align: top;
  width: 50px;
  text-align: center;
}
input#button:hover {
  opacity: 0.7;
}
/*social menu*/

/*style all font-awesome icons*/
.fa {
  font-size: 22px;
  height: 22px;
  margin-left: 23px; 
  overflow: hidden;
  padding-bottom: 5px;
  color: #cacaca;
  text-decoration: none;
  width: 25px; 
  list-style-type: none;

} 
.fa:hover {
  opacity: 0.7;
}

